<html>
<head>
	<title>Graciel Ogena</title>
	<link rel="stylesheet" href="../static/portfolio.css">
</head>
<body>
	<div id="page">
		<div id="photo" align="center">
			<br><br><br><br>
			<img src="static/photo.jpg">
			<p> OGENA, Graciel Zaireen C. <br>
				II - BS Computer Science <br>
				University of the Philippines
			</p>
			<br>
		</div>

		<div id="detail">
			<div>
				<p>PERSONAL PROFILE</p>
				<ul type="circle">
					<li>BIRTHDATE: January 9, 2000</li>
					<li>ADDRESS: 96 University Avenue, Brgy. Potrero, Malabon City</li>
					<li>RELIGION: Roman Catholic</li>
					<li>HEIGHT: 154 cm</li>
					<li>WEIGHT: 58 kg</li>
				</ul>
			</div>

			<div id="educ">
				<p>ACADEMIC BACKGROUND</p>

				<ul>
					<li><img src="static/sme.png"></li>
					<li><img src="static/sga.png"></li>
					<li><img src="static/ue.png"></li>
				</ul>

				<center>
				BASIC EDUCATION: SME Child Development Learning Center<br>
				JUNIOR HIGH SCHOOL: St. Gabriel Academy<br>
				SENIOR HIGH SCHOOL: University of the East - Caloocan
				</center>
			</div>

			<div>
				<p>CONTACT INFORMATION</p>
				<ul>
					<li>PHONE NUMBER: 09724529792</li>
					<li>E-MAIL ADDRESS: gcogena@up.edu.ph</li>
				</ul>
				<br>
			</div>
		</div>
	</div>
</body>
</html>